<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloudentity</title>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="content">
        <section class="home">
            <header>
                <h1>Cloudentity Passport Example</h1>
            </header>
            <section>
                <h2><a class="button" href="/login">Sign in</a></h2>

            </section>
        </section>
        <footer class="info">
            <p>Created by <a href="https://cloudentity.com/">Cloudentity</a></p>
        </footer>
    </div>
</body>

</html>