<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloudentity</title>
    <style>
        .token {
            padding-left: 20px;
            padding-right: 20px;
            width: auto;
            word-break: break-all;
        }
        
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="content">
        <section class="index">
            <header>
                <h1>Cloudentity Passport Example</h1>
            </header>
            <section>
                <h2>Access Token</h2>
                <p class="token">
                    <%= user.accessToken %>
                </p>
            </section>
            <section>
                <h2>ID Token</h2>
                <p class="token">
                    <%= user.idToken %>
                </p>
            </section>
        </section>
        <nav class="nav">
            <ul style="list-style-type:none;">
                <li>
                    <form action="/logout" method="post">
                        <button class="logout" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <footer class="info">
            <p>Created by <a href="https://cloudentity.com/">Cloudentity</a></p>
        </footer>
    </div>
</body>

</html>